{{- define "main" -}}

<h1>{{ .Title | markdownify }}</h1>
<p>
  <small class="text-secondary">
  {{ $customDateFormat := "January 2, 2006" }}
  {{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
  {{ .PublishDate.Format $customDateFormat }}{{ if gt .Lastmod .PublishDate }}, updated {{ .Lastmod.Format $customDateFormat }}{{ end }}
  </small>
  {{ partial "tags" . }}
  {{ partial "categories" . }}
</p>
{{ .Content }}

<div class="subscribe-container text-center mt-5 mb-5">
  <a href="https://forms.gle/dHKfRmxHAFp3Mytm9" class="btn btn-primary subscribe-btn" target="_blank" rel="noopener noreferrer">
    Subscribe to Leku
  </a>
</div>

{{- end -}}
