<nav class="custom-navbar">
  <div class="container">
    {{ range .Site.Menus.nav }}
    <a href="{{ .URL }}">{{ .Name }}</a>
    {{ end }}
    <a href="https://github.com/enricobottazzi" target="_blank" title="Visit my GitHub profile">
      <img src="https://leku.blog/github-logo.png" alt="GitHub" style="height: 18px; vertical-align: middle;">
    </a>
    <a href="https://twitter.com/backaes" target="_blank" title="Visit my X profile">
      <img src="https://leku.blog/x-logo.png" alt="X" style="height: 18px; vertical-align: middle;">
    </a>
    <a href="https://forms.gle/dHKfRmxHAFp3Mytm9">Subscribe</a>
  </div>
</nav>
