{{- define "main" -}}
{{ $homepage := "" }}
<div style="margin-top: 30px;">
  <h1>{{ $homepage }}</h1>
</div>
<!DOCTYPE html>
<html>
<head>
<style>
.box {
  width: 350px;
}

.italic-text {
  font-style: italic;
}
</style>
</head>
<body>

<div class="box">
  <p class="italic-text">Leku, Place. Origin: basque. Cognate with latin locu(m) and celtic *lek. </p>
</div>

</body>
</html>
{{ with .Site.Menus.nav }}
  {{ range first 1 . }}
    {{ $homepage = .Name }}
  {{ end }}
{{ end }}
<h1>{{ $homepage }}</h1>

{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ range $pages.ByPublishDate.Reverse }}
  <p>
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    {{ $customDateFormat := "January 2, 2006" }}
    {{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
    <br>
    <small class="text-secondary">{{ .PublishDate.Format $customDateFormat }}</small>
    {{ partial "tags" . }}
    {{ if eq .Site.Params.showPostSummary true }}
    <br>
    {{ .Summary }}
    {{ end }}
  </p>
{{ end }}
{{- end -}}